body {
    background: #505050;
}

/**{*/
/*box-sizing: border-box;*/
/*}*/
s
p {
    margin: 0;
    padding: 0;
}

.wrapper_all {
    width: 80rem;
    margin: 0 auto;
    position: relative;
}

.title {
    position: relative;
}

.day {
    width: 20rem;
    height: 4rem;
    padding: 1rem;
}

.loupe {
    position: absolute;
    bottom: -10%;
    width: 12rem;
    right: 4%;
}

.reload, .cross {
    position: absolute;
    width: 1.5rem;
    right: 1%;
}

.col {
    display: inline-block;
    margin: 1rem;
    width: 9rem;
    height: 23rem;
    padding: 0 5%;
    float: left;
}

.col img {
    display: block;
    width: 4rem;
    margin: .5rem auto;
}

.brick {
    margin: 0 auto;
}

.cluster {
    display: inline-block;
    margin: 1rem 0;
    float: left;
    width: 55rem;
    height: 30rem;
    position: relative;
}

.brick {
    background: repeat url('resources/brick.jpg');
    width: 120px;
    height: 70px;
}

.cluster img {
    width: 100%;
    height: 30rem;

}

.cross {
    bottom: 2%;
}

.oeil {
    border: solid 8px red;
    border-radius: 5px;
}

.sim_el {
    background: #909090;
    border-radius: 5px;
    box-shadow: .5em .5em .5em;
    padding: .5rem;
}

.question {
    top: 35rem;
    width: 24rem;
    padding: 0rem 1rem 3rem .5rem;
    left: -1rem;
    border-radius: 15px;
    position: absolute;
    background: #8cfd8e;
    font-family: Times;
}

p {
    font-size: 1rem;
    margin: 0;
}

input {
    width: 70%;
    text-shadow: 7px 7px 5px rgba(255, 77, 49, 1);

}

.strob {
    font-size: 2rem;
}

button {
    border: medium none;
    border-radius: 0;
    background: linear-gradient(to bottom, #f5f7f6 1%, #e2e2e2 100%);
}

.ordi {
    text-shadow: 7px 7px 5px rgba(255, 77, 49, 1);
}

.ikea {
    display: block;
    width: 8rem;
    height: 8rem;
    position: absolute;
    bottom: 16%;
    right: 55%;
}

.apple {
    display: block;
    width: 8rem;
    height: 8rem;
    position: absolute;
    bottom: 17%;
    right: 7%;
}

/* scumm*/
.selected_action {
    color: red;
    font-size: 10rem;
    position: absolute;
    bottom: 10rem;
    left: 0px;
}

.selected_object {
    color: red;
    font-size: 10rem;
    position: absolute;
    bottom: 10rem;
    left: 40rem;
}



.selected_object {
    color: red;
    font-size: 10rem;
    position: absolute;
    bottom: 10rem;
    left: 40rem;
}

.description {
    color: blue;
    font-size: 5rem;
    position: absolute;
    bottom: 30rem;
    left: 40rem;
}

.inv_link {
    z-index: 1000;
    display: block;
    width: 8rem;
    height: 8rem;
    position: absolute;

    /*background: red;*/
}

#man{
    bottom: 66%;
    right: 47%;
}


#woman{
    bottom: 66%;
    right: 70%;
}


#joueur{
    bottom: 78%;
    right: 49%;
}

#dragon{
    bottom: 75%;
    right: 35%;
}







